.CommentsCounter {
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  align-self: stretch;
  padding: 6rem 0 2rem 0;
  color: var(--white);
}

.tarefaCriada {
  color: var(--blue-Dark);
}

.tarefaConcluida {
  color: var(--purple);
}

.CommentsCounter span {
  margin-left: 1rem;
}